h2 {
    color: cyan;
    font-size: 2em;
    font-weight: bold;
    font-weight: 700;
    margin: center;
}

h1 {
    line-height: 65px;
}

.imagemlucas {
    margin: auto;
}

.texts {
    color: white;
    font-family: sans-serif;
    line-height: 2em;
}

body {
    background-color: rgb(2, 2, 53);
    background-attachment: fixed;
    font-family: monospace;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#nome {
    font-size: 50px;
    color: cyan;
    font-family: sans-serif;
    
}

#felicidade {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: cyan;
    
}
#box{
    border-radius: 1000px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    
}

.corlistas {
    color: white;
    line-height: 1.6em;
    font-family: sans-serif;
}

.border {
    border: 5px solid cyan;
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

.button {
    color: blue;
    padding: 15px;
    background-color:cyan;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

}